<div class="header">
  <div class="right-corner">
      <div class="timer">
          <div class="text">&nbsp;</div>
          <div class="hour">&nbsp;</div>
          <svg class="header-img" fill="none" preserveAspectRatio="none" viewBox="0 0 751 174" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_i)">
            <path d="M0 172V0H750.5V66.69C706 98.194 653 172 532 172C411 172 231.5 66.69 144 66.69C56.5 66.69 11.5569 155.095 8 165.227C6.5 169.5 3 176.5 0 172Z" [attr.fill]="currentPrimaryColor | async"/>
            </g>
            <defs>
            <filter id="filter0_i" x="0" y="-2" width="750.5" height="175.453" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dy="-2"/>
            <feGaussianBlur stdDeviation="4"/>
            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/>
            <feBlend mode="normal" in2="shape" result="effect1_innerShadow"/>
            </filter>
            </defs>
          </svg>
      </div>
  </div>
  <h1 class="title">{{title}}</h1>
  <h2 class="subtitle">{{subtitle}}</h2>
</div>
<div class="content">
  <ng-content></ng-content>
</div>
