@import 'mixins';
:host{
    --base-display-width: 414;
    --starting-space: 8;
    --current-space-1: calc(var(--starting-space) * 100vw / var(--base-display-width));
    @include respond-to('tablet') {
        --current-space-1: var(--space-1);
    }
    --current-space-2: calc(var(--current-space-1) * 2);
    --current-space-3: calc(var(--current-space-2) * 2);
    --current-space-4: calc(var(--current-space-3) * 2);
    ion-content{
        width: 100vw;
        .header{
            @include flex($position: relative, $justify-content: flex-end);
            .logo{
                padding: var(--current-space-3) var(--current-space-3) 0 var(--current-space-3);
                width: 100%;
                flex: 1;
                img{
                    max-width: 160px;
                }
            }
            .right-corner{
                @include flex($position: relative, $justify-content: flex-end);
                img{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
                .timer{
                    position: relative;
                    padding: var(--current-space-3) var(--current-space-3) calc(var(--current-space-4) + var(--current-space-1)) calc(var(--current-space-2) * 3);
                    color: var(--ion-color-primary-contrast);
                    font-weight: bold;
                    text-align: right;
                    .text{
                        font-size: calc(var(--current-space-1) * 3);
                        @include respond-to('tablet') {
                            font-size: 3em;
                        }
                    }
                    .hour{
                        font-size: calc(var(--current-space-1) * 5);
                        font-weight: 900;
                        @include respond-to('tablet') {
                            font-size: 5em;
                        }
                    }
                }
            }
        }
        .content{
            height: 100vh;
        }
        .footer{
            height: 60px;
        }
    }
}