<div modal-default-content 
  [successButton]="{
    type: 'primary',
    fill: true,
    title: 'Invia'
  }"
  [cancelButton]="{
    type: 'primary',
    fill: false,
    title: 'Annulla'
  }"
  (buttonClicked)="closeModal($event)"
  [formGroup]="userFormGroup"
>    
    <h3 class="popup-title">Password dimenticata</h3>
    <div class="text">
      Inserisci la mail dell'account di cui hai dimenticato la password. Ti verrà inviato un messaggio con il link per eseguire il reset di quest'ultima.
    </div>
    <ion-input formControlName="email" placeholder="Email"></ion-input>
    <div class="error-message" *ngIf="userFormGroup.get('email').invalid && (userFormGroup.get('email').dirty || userFormGroup.get('email').touched) && userFormGroup.get('email').errors.email">Email non valida.</div>
</div>