<div class="header">
  <div class="logo">
      <img src="../../assets/svg/logo.svg">
  </div>
  <div class="right-corner">
      <div class="timer">
          <div class="text">{{sectionTitle}}</div>
          <div class="hour" *ngIf="showCountdown">1h 30m</div>
          <div class="hour" *ngIf="!showCountdown">&nbsp;</div>
          <svg class="header-img" fill="none" preserveAspectRatio="none" viewBox="0 0 262 172" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#a)">
            <path d="m206.51 161.2c-14.081-0.212-25.211 1.907-35.081 4.025-18.816 4.038-51.693 12.064-69.124-4.025-17.432-16.089-7.8079-39.992-28.007-56.458s-32.549-12.836-59.407-38.054c-25.034-23.507-11.243-62.3-9.9256-66.69h257.03v172c-18.144-5.874-38.858-10.548-55.486-10.798z" [attr.fill]="currentPrimaryColor"/>
            </g>
            <defs>
            <filter id="a" x="0" y="-2" width="264" height="174" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset dx="2" dy="-2"/>
            <feGaussianBlur stdDeviation="4"/>
            <feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/>
            <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/>
            <feBlend in2="shape" result="effect1_innerShadow"/>
            </filter>
            </defs>
          </svg>
      </div>
  </div>
  <h1 class="title">{{title}}</h1>
  <h2 class="subtitle">{{subtitle}}</h2>
</div>
<div class="content">
  <ng-content></ng-content>
</div>
<svg preserveAspectRatio="none" class="footer-img" viewBox="0 0 157 342" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g filter="url(#filter0_i)">
  <path d="M3.05176e-05 342.001V0.331001C1.11336 0.197668 2.22957 0.0873333 3.34891 0H17.449C28.4319 0.905861 39.0966 4.13663 48.7359 9.478C112.881 44.778 33.769 131.326 62.636 171.184C91.503 211.042 123.573 191.684 146.024 226.984C168.475 262.284 146.024 342.001 146.024 342.001H3.05176e-05Z" [attr.fill]="currentSecondaryColor"/>
  </g>
  <defs>
  <filter id="filter0_i" x="-1.99997" y="0" width="158.002" height="344.001" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
  <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
  <feOffset dx="-2" dy="2"/>
  <feGaussianBlur stdDeviation="4"/>
  <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0"/>
  <feBlend mode="normal" in2="shape" result="effect1_innerShadow"/>
  </filter>
  </defs>
</svg>