<div class="header">
  <div logo-icon class="logo">
  </div>
  <div [ngClass]="{'right-corner': true, 'secondary': secondaryPage}">
      <div class="timer">
          <div class="text">{{sectionTitle}}</div>
          <div class="hour" *ngIf="showCountdown">
            <ng-container *ngIf="(timer$ | async) as timer; else noTime">
              {{timer.hours}}h {{timer.minutes}}m
            </ng-container>
            <ng-template #noTime>&nbsp;</ng-template>
          </div>
          <div class="hour" *ngIf="!showCountdown">&nbsp;</div>
          <div stain-three-icon [type]="color" *ngIf="!secondaryPage" class="header-img primary"></div>
          <div stain-four-icon [type]="color" *ngIf="secondaryPage" class="header-img secondary"></div>
      </div>
  </div>
  <h1 [ngClass]="{'title': true, 'secondary': secondaryPage}">{{title}}</h1>
  <h2 class="subtitle">{{subtitle}}</h2>
</div>
<div class="content">
  <ng-content></ng-content>
  <div class="buttons-container" *ngIf="secondaryPage">
    <ion-button class="cancel" mode="md" (click)="cancelClicked.emit()">Annulla</ion-button>
    <ion-button [disabled]="disableSaveButton" class="save" mode="md" (click)="saveClicked.emit()">Salva</ion-button>
  </div>
</div>
<div stain-five-icon [type]="color" class="footer-img"></div>
