@import 'mixins';
ion-content{
  width: 100vw;
  app-external-container{
    .login-page{
      @include flex($position: relative);
      @include dimensions($width:100%, $max-width: calc(var(--space-3) * 23), $min-height: 100vh);
      width: 100%;
      margin: auto;
      background-color: white;
      flex-direction: column;
      @include respond-to('tablet') {
        min-height: 0px;
        margin: var(--space-3) auto var(--space-3) auto;
        box-shadow: var(--default-box-shadow);
        border-radius: 20px;
        overflow:hidden
      }
      .title-background{
        @include flex($position: relative);
        .white-background{
          position: relative;
          flex: 1;
        }
        .shape{
          @include flex($position: relative, $justify-content: flex-end);
          width: 50%;
          top: -2px;
          right: -2px;
          @include respond-to('tablet') {
            width: 20%;
          }
        }
      }
      .title-container{
        position: absolute;
        width: 100%;
        top: var(--space-3); 
        padding-left: 8.5%;
        left: 0;
        @include respond-to('tablet') {
          display: flex;
        }
        .icon{
          width: 41.5%;
          padding-right: 8.5%;
          margin-bottom: var(--space-2);
          @include respond-to('tablet') {
            width: 30%;
          }
          img{
            width: 100%;
          }
        }
        .text{
          font-size: 5rem;
          font-weight: 900;
          .softwareuno{
            color: var(--ion-color-primary);;
          }
          .pasti{
            color: var(--ion-color-tertiary);
          }
        }
      }
      .login-form-container{
        padding: 6vh 8.5% 0 8.5%;
        @include respond-to('tablet') {
          padding: var(--space-1) 8.5% 0 8.5%;
        }
        width: 100%;
        align-self: center;
        .input-container{
          @include flex($align-items: center, $justify-content: flex-end);
          margin-top: var(--space-2);
          ion-input{
            --padding-start: var(--space-2);
            --padding-top: var(--space-2);
            --padding-bottom: var(--space-2);
            --placeholder-color: #BEBBB6;
            font-size: 2rem;
            width: 100%;
            border: 1.5px solid var(--default-dark-color);
            border-radius: 1000px;
            z-index: 3;
          }
          ion-button{
            position: absolute;
            font-size: 2rem;
            font-weight: bold;
            letter-spacing: normal;
            z-index: 5;
          }
        }
      }
      .submit-container{
        @include flex($position: relative);
        margin-top: var(--space-3);
        flex: auto;
        .shape-container{
          @include flex($align-items: flex-end, $justify-content: left);
          width: 50%;
          @include respond-to('tablet') {
            img{
              width: 40%;
            }
          }
        }
        .button-container{
          position: relative;
          width: 50%;
          padding: 0 8.5% 0 0;
          ion-button{
            width: 100%;
            @include ion-button-style;
          }
        }
      }
    }
  }
}