<div modal-default-content 
  [successButton]="{
    type: 'tertiary',
    fill: true,
    title: 'Modifica'
  }"
  [cancelButton]="{
    type: 'tertiary',
    fill: false,
    title: 'Annulla'
  }"
  (buttonClicked)="closeModal($event)"
  [formGroup]="userFormGroup"
>    
  <h3>Modifica utente</h3>
  <div class="subtitle">Modifica l'utente {{selectedUser?.email}}.</div>
  <app-role-segment formControlName="role" [multipleValues]="false"></app-role-segment>
  <ion-input formControlName="firstName" placeholder="Nome"></ion-input>
  <div class="error-message" *ngIf="userFormGroup.get('firstName').invalid && (userFormGroup.get('firstName').dirty || userFormGroup.get('firstName').touched) && userFormGroup.get('firstName').errors.required">Nome obbligatorio.</div>
  <ion-input formControlName="lastName" placeholder="Cognome"></ion-input>
  <div class="error-message" *ngIf="userFormGroup.get('lastName').invalid && (userFormGroup.get('lastName').dirty || userFormGroup.get('lastName').touched) && userFormGroup.get('lastName').errors.required">Cognome obbligatorio.</div>
</div>