<div modal-default-content 
  [successButton]="{
    type: 'primary',
    fill: true,
    title: 'Ok, ho capito'
  }"
  (buttonClicked)="closeModal()"
  >
  <h3 class="popup-title">Aggiungi ospite</h3>
  <div class="text">
    Condividi col tuo ospite il seguente link. Da qui potrà effettuare il proprio ordine.
  </div>
  <ion-button lines="none" mode="md" (click)="shareLink()"><div>{{secretLink}}</div> <ion-icon color="tertiary" slot="end" name="share-social-outline"></ion-icon></ion-button>
</div>