<ion-content>
    <app-external-container class="desktop" [multiplier]="40">
        <app-default-page [removeMargins]="mediaSvc.isSmartphone" sectionTitle="Fine ordinazioni" title="Menù" subtitle="Scegli cosa mangiare!">
          <ng-container *ngIf="todaysMenu === null">
            <div class="no-menu-container">
              <div class="menu-img-container">
                <img src="../../../assets/svg/waiting-menu.svg">
              </div>
              <div class="message">
                <h3>Menù non disponibile</h3>
                <div>Il menù di oggi non è ancora disponibile. Una volta che il ristoratore avrà completato la compilazione sarà possibile eseguire l'ordinazione. Nel caso non sia disponibile nonostante la fine delle ordinazioni vicina, contattare il ristoratore.</div>
              </div>
            </div>
          </ng-container> 
          <ng-container *ngIf="todaysMenu">
            <div class="dishes" [formGroup]="pageForm">
              <app-dishes-list 
                *ngIf="pageForm.get('primi')?.value.length > 0"
                #primiList
                [editMode]="false"
                formControlName="primi"
                title="Primi"></app-dishes-list>
              <app-dishes-list 
                *ngIf="pageForm.get('secondi')?.value.length > 0"
                #secondiList
                [editMode]="false"
                formControlName="secondi"
                title="Secondi"></app-dishes-list>
              <app-dishes-list 
                *ngIf="pageForm.get('contorni')?.value.length > 0"
                #contorniList
                color="primary"
                [editMode]="false"
                formControlName="contorni"
                title="Contorni"><div @enterFromRightAnimation *ngIf="(showAbbondante$ | async) === 1" rightText><ion-toggle formControlName="abbondante" class="toggle" mode="md" color="primary"></ion-toggle>Abb.</div></app-dishes-list>
              <app-dishes-list 
                *ngIf="pageForm.get('pizze')?.value.length > 0"
                #pizzeList
                color="primary"
                [editMode]="false"
                formControlName="pizze"
                title="Pizze"></app-dishes-list>
            </div> 
            <div class="options-container">
              <ion-card class="big-card guests ion-activatable" (click)="showGuestModal()">
                Aggiungi<br>ospiti
                <img src="../../../assets/svg/guests.svg">
                <ion-ripple-effect></ion-ripple-effect>
              </ion-card>
              <ion-card class="big-card takeaway ion-activatable" (click)="toggleTakeAway()">
                Da<br>asporto
                <img src="../../../assets/svg/take-away.svg">
                <ion-ripple-effect></ion-ripple-effect>
                <svg *ngIf="pageForm.get('takeAway')?.value" @selectionAnimation class="selection-tick" viewBox="0 0 60 60">
                  <defs>
                    <linearGradient id="selection-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                      <stop offset="0" stop-color="#f7ad45"/>
                      <stop offset="0.415" stop-color="#f7ae47"/>
                      <stop offset="1" stop-color="#f6c074"/>
                    </linearGradient>
                  </defs>
                  <g id="select" transform="translate(-101.523 -354.903)">
                    <path id="left-corner-image" d="M-442.477-245.1c3.025-11.065,11.159-30.548,31.5-35.159,17.308-3.924,25.065-15.9,28.5-24.84v60Z" transform="translate(544 660)" fill="url(#selection-gradient)"/>
                    <path id="checkmark-outline" d="M114.951,128l-13.266,15.161L96,137.476" transform="translate(34.572 259.741)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
                  </g>
                </svg>
              </ion-card>
            </div> 
            <div class="buttons-container">
              <ion-button (click)="saveOrder()" [disabled]="pageForm.errors?.noElements" class="send-button">Invia</ion-button>
            </div>
          </ng-container>
        </app-default-page>
    </app-external-container>
</ion-content>
