<ion-content>
  <app-external-container class="desktop" [multiplier]="40">
      <app-default-page title="Utenti" subtitle="Gestisci gli utenti dell'app">
          <div class="users">
            <ion-card class="user" mode="ios" *ngFor="let user of users">
              <ion-card-header>
                <ion-card-title>{{user.firstName}} {{user.lastName}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{user.email}}
              </ion-card-content>
            </ion-card>
          </div>
          <ion-button (click)="logout()">Logout</ion-button>
      </app-default-page>
  </app-external-container>
</ion-content>
