@import 'mixins';
ion-content{
    .users{
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(var(--space-3) * 9), 1fr));
        grid-gap: var(--space-3);
        @include respond-to('tablet'){
            grid-gap: calc(var(--space-3) + var(--space-2));
        }
        align-items: flex-start;
        ion-card-title{
            @include truncate('100%');
        }
        ion-card-content{
            @include truncate('100%');
        }
        .role-icon-container{
            position: absolute;
            right: 0;
            bottom: 0;
            padding: calc(var(--space-3) + var(--space-1)) var(--space-2) var(--space-1) var(--space-3);
            font-size: 2rem;
            .wave-img{
                position:absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
            ion-icon{
                color: white;
                font-weight: bold;
                --ionicon-stroke-width: 5rem;
            }
        }
    }
}
