<ion-content>
  <app-external-container class="desktop" [multiplier]="40">
      <app-default-page [disableSaveButton]="disableSaveButton" (cancelClicked)="cancel()" (saveClicked)="saveSettings()"  [secondaryPage]="true" [removeMargins]="mediaSvc.isSmartphone" color="secondary" sectionTitle="Fine ordinazioni"  title="Impostazioni" subtitle="Modifica le impostazioni">
        <div [formGroup]="settingsForm" class="container">
          <h3>Fine ordinazioni</h3>
          <ion-list lines="none">
            <ion-item>
              <ion-label>Cambia orario</ion-label>
              <ion-datetime formControlName="stopOrdersTime" displayFormat="HH:mm" placeholder="Orario"></ion-datetime>
            </ion-item>
          </ion-list>
          <div class="error-label" *ngIf="stopOrdersTime.invalid && (stopOrdersTime.dirty || stopOrdersTime.touched)">L'orario di fine ordinazioni è obbligatorio</div>
          <ion-button (click)="logout()">Logout</ion-button>
        </div>
      </app-default-page>
  </app-external-container>
</ion-content>