<ion-content>
  <app-external-container class="desktop" [multiplier]="40">
      <app-default-page [removeMargins]="mediaSvc.isSmartphone" color="secondary" sectionTitle="Fine ordinazioni" title="Menù" subtitle="Inserisci i piatti del giorno.">
        <div class="dishes" [formGroup]="pageForm">
          <app-dishes-list 
            #primiList
            [editMode]="!(this.todayMenu$ | async)"
            formControlName="primi"
            [dishesHints]="(primiUsualDishes$ | async)?.hints"
            title="Primi" 
            rightText="Piatti ricorrenti" 
            (rightButtonClicked)="goToUsual('primi')"
            [addDishesFormOptions]="{
              title: 'Aggiungi i primi',
              subtitle: 'Inserisci i primi nel menù del giorno',
              showUsualDishes: true
            }"></app-dishes-list>
          <app-dishes-list 
            #secondiList
            [editMode]="!(this.todayMenu$ | async)"
            formControlName="secondi"
            [dishesHints]="(secondiUsualDishes$ | async)?.hints"
            title="Secondi" 
            rightText="Piatti ricorrenti" 
            (rightButtonClicked)="goToUsual('secondi')"
            [addDishesFormOptions]="{
              title: 'Aggiungi i secondi',
              subtitle: 'Inserisci i secondi nel menù del giorno',
              showUsualDishes: true
            }"></app-dishes-list>
          <app-dishes-list 
            #contorniList
            [editMode]="!(this.todayMenu$ | async)"
            formControlName="contorni"
            [dishesHints]="(contorniUsualDishes$ | async)?.hints"
            title="Contorni" 
            rightText="Piatti ricorrenti" 
            (rightButtonClicked)="goToUsual('contorni')"
            [addDishesFormOptions]="{
              title: 'Aggiungi i contorni',
              subtitle: 'Inserisci i contorni nel menù del giorno',
              showUsualDishes: true
            }"></app-dishes-list>
          <app-dishes-list 
            #pizzeList
            [editMode]="!(this.todayMenu$ | async)"
            formControlName="pizze"
            [dishesHints]="(pizzeUsualDishes$ | async)?.hints"
            title="Pizze" 
            rightText="Piatti ricorrenti" 
            (rightButtonClicked)="goToUsual('pizze')"
            [addDishesFormOptions]="{
              title: 'Aggiungi le pizze',
              subtitle: 'Inserisci le pizze nel menù del giorno',
              showUsualDishes: true
            }"></app-dishes-list>
        </div>  
        <div *ngIf="!(this.todayMenu$ | async)" class="buttons-container">
          <ion-button class="send-button" (click)="sendMenu()">Invia</ion-button>
        </div>
      </app-default-page>
  </app-external-container>
  <ion-fab (click)="goToSettings()" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="secondary" size="small">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab *ngIf="
    primiList.selectedDishes.length || secondiList.selectedDishes.length || contorniList.selectedDishes.length || pizzeList.selectedDishes.length
  "
  @fabAnimation
  (click)="deleteSelectedDishes()"
  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

