@import "mixins";
.buttons-container {
  margin-top: var(--space-3);
  display: flex;
  width: 100%;
  padding: 0 var(--current-space-3) 0 var(--current-space-3);
  @include respond-to("tablet") {
    padding: 0;
  }
  ion-button {
    flex: 1;
    margin-top: var(--space-1);
    &:first-child {
      margin-right: var(--space-1);
    }
    &:last-child {
      margin-left: var(--space-1);
    }
    &.save {
      @include ion-button-style("secondary");
    }
    &.cancel {
      @include ion-button-style("secondary", "clean");
    }
  }
}
app-popup {
  .popup-title {
    margin-bottom: var(--space-2);
  }
}
