<ion-content>
  <app-external-container class="desktop" [multiplier]="40">
      <app-default-page [removeMargins]="mediaSvc.isSmartphone" color="secondary" sectionTitle="Fine ordinazioni" title="Menù" subtitle="Inserisci i piatti del giorno.">
        <div class="dishes">
          <app-dishes-list title="Primi" rightText="Piatti ricorrenti"></app-dishes-list>
          <app-dishes-list title="Secondi" rightText="Piatti ricorrenti"></app-dishes-list>
          <app-dishes-list title="Contorni" rightText="Piatti ricorrenti"></app-dishes-list>
        </div>  
        <ion-button (click)="logout()">Logout</ion-button>
      </app-default-page>
  </app-external-container>
</ion-content>
