<ion-content>
  <app-external-container class="desktop" [multiplier]="40">
      <app-default-page (saveClicked)="saveTemplate()" (cancelClicked)="cancel()" [secondaryPage]="true" [removeMargins]="mediaSvc.isSmartphone" color="secondary" sectionTitle="Fine ordinazioni"  title="{{dishType | titlecase}} ricorrenti" subtitle="Inserisci {{(dishType === 'pizze') ? 'le' : 'i'}} {{dishType}} ricorrenti.">
        <div class="dishes" [formGroup]="recurrentDishesForm">
          <app-dishes-list 
            formControlName="defaults"
            title="{{dishType | titlecase}} {{(dishType === 'pizze') ? 'fisse' : 'fissi'}}" 
            rightText="Info" 
            (rightButtonClicked)="toggleInfoPopup('fissiInfo')"
            [addDishesFormOptions]="{
              title: 'Aggiungi i piatti',
              subtitle: 'Inserisci '+ ((dishType === 'pizze') ? 'le ' : 'i ') + dishType +' ricorrenti',
              info: 'Inserisci un piatto per riga. Questi saranno preinseriti nel menù ogni giorno.'
            }"
            ></app-dishes-list>
          <app-dishes-list 
            title="{{dishType | titlecase}} frequenti" 
            formControlName="hints"
            rightText="Info" 
            (rightButtonClicked)="toggleInfoPopup('frequentiInfo')"
            [addDishesFormOptions]="{
              title: 'Aggiungi i piatti',
              subtitle: 'Inserisci '+ ((dishType === 'pizze') ? 'le ' : 'i ') + dishType +' frequenti',
              info: 'Inserisci un piatto per riga. Questi verranno mostrati durante l\'inserimento di piatti nel menù'
            }"
            ></app-dishes-list>
        </div>
      </app-default-page>
  </app-external-container>
</ion-content>