@import "mixins";
.dishes {
  @include respond-to("tablet") {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  div[rightText] {
    display: flex;
    align-items: center;
    height: 32px;
  }
}
app-popup {
  .popup-title {
    margin-bottom: var(--space-2);
  }
}
