/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "mixins";

html {
  font-size: 8px;
  @include respond-to("very-small") {
    font-size: 7px;
  }
  @include respond-to("tablet") {
    font-size: 10px;
  }
  h1 {
    font-size: 4rem;
    font-weight: bold;
    color: var(--default-dark-color);
    margin-top: 0px;
    margin-bottom: var(--space-3);
  }
  h2 {
    font-size: 3rem;
    color: #707070;
  }
  h3 {
    font-size: 3rem !important;
    color: var(--default-dark-color);
    font-weight: 900 !important;
    line-height: 3rem;
    margin: 0;
  }
  h4 {
    font-size: 2.3rem !important;
    font-weight: bold !important;
    color: var(--default-dark-color);
  }
  ion-toast {
    &::part(header) {
      font-size: 2rem;
      font-weight: bold;
    }
    &::part(message) {
      font-size: 1.8rem;
    }
  }
  ion-card {
    position: relative;
    border-radius: 30px;
    padding: calc(var(--space-2) + var(--space-1));
    margin: 0;
    box-shadow: var(--default-box-shadow);
    ion-card-header {
      padding: 0 0 var(--space-1) 0;
      ion-card-title {
        font-size: 2rem;
        font-weight: 900;
        color: var(--default-dark-color);
      }
    }
    ion-card-content {
      font-size: 2rem !important;
      color: var(--default-gray) !important;
      padding: 0 !important;
    }
  }
  ion-modal {
    &.bottom {
      align-items: flex-end;
      --border-radius: 30px 30px 0px 0px !important;
    }
    --height: auto !important;
    --border-radius: 30px !important;
    .modal-wrapper {
      max-height: 100% !important;
      overflow: auto !important;
      .ion-page {
        position: relative;
        display: block;
        contain: content;
      }
    }
  }
  .new-dish-info {
    --background: var(--ion-color-dark-shade);
  }
  .error-label {
    font-size: 1.5rem;
    color: var(--ion-color-danger);
  }
}
