<ion-content [fullscreen]="true">
  <div class="external-container">
    <div class="login-page">
      <div class="title-background">
        <div class="white-background">
        </div>
        <div class="shape">
          <img src="../../assets/svg/shape1.svg">
        </div>
      </div>
      <div class="title-container">
        <div class="icon">
          <img src="../../assets/svg/logo.svg">
        </div>
        <div class="text">
          <div class="softwareuno">Softwareuno</div>
          <div class="pasti">Pasti</div>
        </div>
      </div>
      <div class="login-form-container">
        <h1>Login</h1>
        <div class="input-container">
          <ion-input placeholder="Email"></ion-input>
        </div>
        <div class="input-container">
          <ion-input placeholder="Password"></ion-input>
          <ion-button type="primary" mode="md" size="small" fill="clear" slot="end">DIMENTICATA?</ion-button>
        </div>
      </div>
      <div class="submit-container">
        <div class="shape-container">
          <img src="../../assets/svg/shape2.svg">
        </div>
        <div class="button-container">
          <ion-button mode="md">Accedi</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
