<div class="title-container">
  <div class="title" *ngIf="title">{{title}}</div>
  <div class="right-text" *ngIf="rightText">{{rightText}}</div>
</div>
<div class="dishes" scrollX="true">
  <div class="add-dish card ion-activatable">
    <ion-icon name="add-outline"></ion-icon>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
  <div class="no-items-placeholder" *ngIf="dishes.length === 0">
    Clicca '+' per aggiungere piatto.
  </div>
  <ion-card *ngFor="let dish of dishes" class="card"></ion-card>
</div>